{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build Encounter</title>
    <script defer src="{% static 'app_encounter_builder/buildEncounter.js' %}"></script>
    <script defer src="{% static 'app_encounter_builder/EXP_by_CR.js' %}"></script>
    <script defer src="{% static 'app_encounter_builder/EXPThreshold.js' %}"></script>
    <script src="{% static 'app_encounter_builder/monsters_by_CR.js' %}"></script>
    <style>
        html {
            background-color: grey;
        }
        .player-table {
            display: flex;
        }
    </style>
</head>
<body>
    <div>
        <div id="encounter-div" class="encounter-wrapper">
            <div class="player-table">
                <div id="players-div">
                    <button id="add-player-btn">Add player</button>
                    <div id="player">Lvl: <input type="Number", min="1", max="20", value="1"><button id="delete-btn">Delete</button></div>
                </div>
                <div id="exp-div">
                    <div id="easy">Easy: 25</div>
                    <div id="medium">Medium: 50</div>
                    <div id="hard">Hard: 75</div>
                    <div id="deadly">Deadly: 100</div>
                    <div id="daily-budget">Daily Budget: 300</div>
                </div>
            </div>
            <button id="add-monster-btn">Add monster</button>
            <div id="monsters-div">
            </div>
        </div>
        <div id="monster-selector-div">
            <select id="cr-selector">
                <option value="" selected disabled hidden>Choose CR</option>
            </select>
            <select id="monsters-by-cr"></select>
            <div id="monster-statblock"></div>
            
        </div>
    </div>
    <div id="statblock-div">

    </div>
</body>
</html>