{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encounter Builder</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script defer src="{% static 'app_encounter_builder/vue-build.js' %}"></script>
    <script src="{% static 'app_encounter_builder/EXP_by_CR.js' %}"></script>
    <script src="{% static 'app_encounter_builder/EXPThreshold.js' %}"></script>
    <script src="{% static 'app_encounter_builder/monsters_by_CR.js' %}"></script>
    <style>
        #party-wrapper {
            display: flex;
            justify-content: space-between;
        }
        #exp-goals {
            display: flex;
            align-items: center;
        }
        .difficulty-wrapper {
            display: flex;
            flex-direction: column;
            text-align: right;
        }
        .exp-wrapper {
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-left: 1rem;
        }
        .left-side {
            display: flex;
            flex-direction: column;
        }
        #app {
            display: flex;
        }
    </style>
</head>
<body>


{% comment %} This is the start of the app. The following code will be manipulated through Vue. {% endcomment %}
    <div id="app">
{% comment %} This is the player div. It will allow the user to add player characters and alter their levels. {% endcomment %}
        <div class="left-side">
            <div id="player-character-div">
                {% comment %} Wrapper for player characters and exp goals. {% endcomment %}
                <div id="party-wrapper">
                    <div id="player-characters">
                        <button id="add-player-button" v-on:click="addCharacter()">Add Player Character</button>
                        <div id="party" v-for="(player, index) in party" >Lvl:
                            <input type="Number" min="1" max="20" v-model="player" v-on:change="updatePlayer(index, player)">
                            <button id="delete-btn" v-on:click="deleteCharacter(index)">Delete</button>
                        </div>
                        {% comment %} Save party to local storage. {% endcomment %}
                        <button id="save-party-button" v-on:click="saveParty()">Save Party</button>
                    </div>
                    <div id="exp-goals">
                        <div class="difficulty-wrapper">
                            <div id="easy">Easy: </div>
                            <div id="medium">Medium: </div>
                            <div id="hard">Hard: </div>
                            <div id="deadly">Deadly: </div>
                            <div id="day">Daily: </div>
                        </div>
                        <div class="exp-wrapper">
                            <div>[[easyEXP]]</div>
                            <div>[[mediumEXP]]</div>
                            <div>[[hardEXP]]</div>
                            <div>[[deadlyEXP]]</div>
                            <div>[[dayEXP]]</div>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %}  This is the encounter div. It will enumerate and elaborate monsters by their CR. {% endcomment %}
            <div id="encounter-div">
                {% comment %}  {% endcomment %}
                <div id="total-exp">Total EXP: [[totalEXP]]</div>
                <div id="adjusted-exp">Adjusted EXP: [[adjustedEXP]]</div>
                <div id="encounter-difficulty">Encounter Difficulty: [[encounterDifficulty]]</div>
                {% comment %} Dropdown menu for every available CR. {% endcomment %}
                <div id="cr-dropdown-menu">
                    <select v-model="selectedCR" v-on:change="elaborateMonsters()">
                        <option v-for="cr in listCRs" v-bind:value="cr">CR: [[cr]]</option>
                    </select>
                </div>
                {% comment %} Dropdown menu for monsters dependent on selected CR. {% endcomment %}
                <div id="monster-dropdown-menu">
                    <select v-model="selectedMonster" v-on:change="displayStatblock()">
                        <option selected disabled>Select Monster</option>
                        <option v-for="(monster, index) in monsters" v-bind:value="monster">[[monster]]</option>
                    </select>
                </div>
                {% comment %} Add monster to current encounter. {% endcomment %}
                <div id="add-monster">
                    <button v-on:click="addMonster()">Add monster</button>
                </div>
                <div id="current-encounter">
                    <div v-for="monster in encounterList"><button v-on:click="removeMonster(monster)">Remove</button>[[monster]]</div>
                </div>
                {% comment %} Save current encounter. {% endcomment %}
                <div id="save-encounter">
                    <button v-on:click="saveEncounter({{portfolio.id}})">Save Encounter</button>
                </div>
            </div>
        </div>
{% comment %}  This is the statblock div. It will display the statblock of the currently selected monster. {% endcomment %}
        <div id="statblock-div">
            <h1 v-if="statblock.name">[[statblock.name]]</h1>
            <h3 v-if="statblock.cr">[[statblock.cr]]</h3>

        </div>
{% comment %} This div is undefined as of now. {% endcomment %}
        <div>

        </div>
    </div>
{% comment %} This is the endd of the app. {% endcomment %}

</body>
</html>