{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encounters</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script defer src="{% static 'app_encounter_builder/vue-index.js' %}"></script>
</head>
<body>
    <h1>Index page loaded</h1>
    <div id="app">
        <div>Party Lvls: [[partyString]]</div>
        <div v-for="(encounter, index) in encountersList">
            <div>
                <div><button v-on:click="deleteEncounter(jsondata[index].id)">Del</button> Encounter: <div v-for="monster in encounter">[[monster]], </div></div>
                <div>EXP: [[jsondata[index].exp]]</div>
                <div>Adjusted EXP: [[jsondata[index].adjusted_exp]]</div>
                <div>Difficulty: [[jsondata[index].difficulty]]</div>
                <br>
            </div>
        </div>
    </div>
</body>
</html>