<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{villain.first_name}}
    {{villain.clan_name}}
    {{villain.race}}
    {{villain.gender}}
    {{villain.villain_type}}
    {{villain.organization}}
    {{villain.motivation}}
    {{villain.secret}}
    {{villain.fear}}
    {{villain.life_event}}
    <a href="{% url 'delete_villain' villain.id%}">Delete</a>
</body>
</html>