{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
    <script src="https://unpkg.com/vue@3"></script> 
    <script defer src="{% static 'app_setting_generator/app-setting.js' %}"></script>
</head>
<body>
    <div id="app">
    {% for villain in data %}
    <div>
        <p>
            Name: <a href=" {% url 'setting:detail_villain' villain.id %} ">{{villain.first_name}}</a>, {{villain.race}} 
        </p>
        <p>
            Villain type: {{villain.villain_type}}
        </p>
    </div>
    <br>
    {% endfor %}
        [[message]]
    </div>
    
</body>
</html>