<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{portfolio.name}}</title>
    <style>
        .delete-div {
            padding: 1rem 0;
        }
    </style>
</head>
<body>
    <div>
        <a href="{% url 'portfolio:user_profile' %}">Back to Profile</a>
    </div>
    <div>
        <a href="{% url 'setting:create_villain' portfolio.id %}">Add Villain</a>
        {% for villain in villains %}<div><a href="{% url 'setting:detail_villain' villain.id %}">{{villain.first_name}}</a></div> {% endfor %}
        
    </div>
    <div>
        <a href="{% url 'map:index' portfolio.id %}">Add Map</a>
        <a href="{% url 'map:remove_map' portfolio.id %}">Remove Map</a>
        {% for map in battlemaps %} <img src="../../media/{{map.img}} " alt="{{map.size}} Map">
        {% endfor %}
    </div>

    <div>
        <a href="{% url 'encounter:index' portfolio.id %}">Add Encounter</a>
        <h2>Encounters</h2>
        {% for encounter in encounters %}<div>Difficulty: {{encounter.difficulty}}</div>{% endfor %}
    </div>

    <div class="delete-div"><a href="{% url 'portfolio:delete_portfolio' portfolio.id %}">Delete Portfolio</a></div>
</body>
</html>