<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>OK</h1>
    {% for portfolio in data %}
    <div>{{portfolio.name}} <a href="{% url 'portfolio:update_portfolio' portfolio.id %}">Update</a></div>
    {% endfor %}
    <h1>New Portfolio</h1>
    <form action="{% url 'portfolio:create_portfolio' %}" method="POST">
    {% csrf_token %}
        <input type="text" name="name" placeholder="Enter portfolio name">
        <input type="submit" placeholder="Create">
    </form>
</body>
</html>